#clock{
    position: relative;
    margin:auto;
    
    /* using vw for the view port width so it resizes according to the screen size */
    height: 40vw; 
    width: 40vw;
    /* height: 440px;
    width:440px; */
    /* no-repeat property only makes the clock once */
    background : url(clock.png) no-repeat;    
    /* to fit the clock according to the width and height */
    background-size:100%; 
     
}
#hour, #minute, #second{
    position: absolute;    
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 0.75%;
    height: 13%;
    top: 18%;
    left: 49.85%;
    /* opacity: 0.8; */
    background-color: black;
    
}
#minute{
    width: 0.5%;
    height: 16%;
    top: 15.3%;
    left: 49.99%;
    opacity: 0.8;
    background-color: black;
    /* display: none; */
}
#second{
    width: 0.4%;
    height: 17%;
    top: 13.9%;
    left: 49.9%;
    opacity: 0.8;
    background-color: brown;
    
    
}
h1{
    text-align: center;
}